@import "../../../style/utilities/utilities.scss";

.sideBar {
  background-color: rgb(25, 71, 154);
  height: $SIDE_NAVBAR_HEIGHT;
  ul {
    margin-top: 3rem;

    li {
      margin-top: 1rem;
      @include flex-dir(null, center);

      text-align: center;

      a {
        @include flex-dir(space-between, center, null);

        padding: 1rem 1.5rem;
        text-decoration: none;
        color: white;
        width: 100%;
        font-weight: 500;
        font-size: 1.4rem;
        .icon {
          font-size: 1.7rem;
        }
        &.isActive,
        &:hover {
          background-color: rgb(92, 133, 209);
        }
      }
    }
  }
}

@include smartphone() {
  .sideBar {
    display: none;

    @include posAbs($HEADER_HEIGHT_SMARTPHONE, 0%, null, null);
    position: fixed;
    @include heightWidth(100vh, 100%);
    z-index: 90;
    ul {
      margin-top: 0.5rem;
      li {
        a {
          height: 4rem;
          font-size: 1.7rem;
          border-bottom: 1px solid white;
        }
      }
    }
  }
  .display_block {
    display: block;
  }
}
