@use "../../../../style/utilities/utilities.scss" as *;
.tablePagination_container {
  height: 65vh;
  overflow-y: scroll;
}
.buttons_container {
  margin-top: 0.5rem;
  @include flex-dir(space-between, center);
  width: 98%;
  color: white;
  .left_button,
  .right_button {
    @include button(rgb(114, 151, 224), 0.5rem, 1.5rem);
    color: white;
    font-weight: 500;
  }
  .left_button {
    // justify-self: flex-start;
    margin-right: auto;
  }
  .right_button {
    margin-left: auto;
  }
}

@include smartphone() {
  .tablePagination_container {
    height: auto;
    overflow-y: hidden;
    width: 100%;
  }
}
