@use "../../../../style/utilities/utilities.scss" as *;

table {
  border-collapse: collapse;
  width: 100%;
}
thead th {
  position: sticky;
  top: 0;
}

th {
  padding: 0.5rem;
  background-color: rgb(62, 108, 194);
  color: white;
  font-weight: 500;
}

td {
  height: 3.4rem;
  padding: 0.5rem;
}

td,
th {
  border: none;

  text-align: center;
  font-size: 1.1rem;
}

td[class*="active"] {
  color: rgb(14, 222, 14);
}
td[class*="unactive"] {
  color: red;
}

tr:nth-child(even) {
  background-color: rgb(220, 227, 252);
}

.actions {
  @include flex-dir(center, center, row);

  gap: 1rem;
  height: 2rem;
  i {
    cursor: pointer;
  }
  .iconEdit {
    color: rgb(94, 176, 247);
    font-size: 1.2em;
  }
  .deleteIcon {
    cursor: pointer;
    color: rgb(242, 61, 61);
    margin-bottom: 0.3rem;
    font-size: 1.3rem;
  }
}

@include smartphone {
  thead {
    display: none;
  }
  table,
  tbody,
  tr,
  td {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 1rem;
    background-color: none;
  }

  td {
    border: 1px solid rgb(158, 180, 201, 0.2);
    height: 3.4rem;
    padding: 0.5rem;
    text-align: right;
    position: relative;
    font-size: 1rem;

    &::before {
      content: attr(data-label);
      @include posAbs(null, 0%, null, null);
      width: 50%;
      padding-left: 1rem;
      text-align: left;
      z-index: 10;
    }
  }
  .actions {
    justify-content: flex-end;
    margin-top: 0;
  }
}
