@use "../../../style/utilities/utilities.scss" as *;

.list_pastes {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  gap: 0.8rem;
  padding: 1rem;
  li {
    box-shadow: 0 2px 4px 8px rgba(0, 0, 0, 0.05);
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    max-width: 30%;
    flex: 30%;
    padding: 1rem;
    @include flex-dir(null, null, column);
    gap: 0.3em;

    .pastes_details {
      @include flex-dir(null, null, column);
      :first-child {
        font-weight: 500;
      }
      .content {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 10rem;
        white-space: nowrap;
      }
    }
  }
}
@include smartphone() {
  .list_pastes {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    gap: 0.8rem;
    padding: 1rem;
    li {
      max-width: 100%;
      flex: 50%;
      padding: 1rem;
      @include flex-dir(null, null, column);
      gap: 0.3em;

      .pastes_details {
        @include flex-dir(null, null, column);
      }
    }
  }
}

.list_container {
  height: 65vh;
  overflow-y: scroll;
}
.buttons_container {
  margin-top: 0.5rem;
  @include flex-dir(space-between, center);
  width: 98%;
  color: white;
  .left_button,
  .right_button {
    @include button(rgb(114, 151, 224), 0.5rem, 1.5rem);
    color: white;
    font-weight: 500;
  }
  .left_button {
    // justify-self: flex-start;
    margin-right: auto;
  }
  .right_button {
    margin-left: auto;
  }
}

@include smartphone() {
  .list_container {
    height: auto;
    overflow-y: hidden;
    width: 100%;
  }
}
