@use "./../../../../../style/utilities/utilities.scss" as *;

.main_li {
  position: relative;
}
.drop_down_list {
  @include posAbs(120%, null, -30%, null);
  // transform: translate(-50%, 0%);
  @include shadow-block();
  min-width: 14.5rem;
  width: fit-content;
  height: fit-content;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  z-index: 95;
}

.messageNotFound {
  @include flex-dir(center, center);
  cursor: pointer;
  min-height: 7rem;
  font-weight: 500;
  font-size: 1.2rem;
}
.sec_li {
  @include flex-dir(null, center);
  height: 4rem;
  padding: 0.5rem;
  &:hover {
    background-color: rgb(190, 230, 249);
  }
  a {
    font-size: 1.3rem;
    color: rgb(75, 74, 74);
    width: 100%;
    text-decoration: none;
  }
}

@include smartphone() {
  .main_li {
    position: static;
  }
  .drop_down_list {
    @include posAbs($HEADER_HEIGHT_SMARTPHONE, 0%, null, null);
    transform: translate(0%, 0%);
    background-color: white !important;
    // box-shadow: 2px 2px 4px 4px rgba($color: #000000, $alpha: 1.0);

    width: 100%;
    z-index: 200;
  }
  .sec_li {
    border-bottom: 1px solid rgb(106, 106, 236);
  }
}
